<header>
  <a href="/">
    <img src="<%= relative_url '/images/bump-logo.svg' %>" alt="Logo" />
  </a>

  <nav>
    <% @site.data.navbar.navbar.each do |item| %>
      <%= render Shared::Nav::Item.new(title: item.title, link: item.link) %>
    <% end %>
  </nav>
</header>
