<li>
  <% if resource.present? %>
    <a class="item" href="<%= resource.relative_url %>"<% if is_current? %> aria-current="true"<% end %>><%= @page.label %></a>
  <% else %>
    <div class="item"<% if is_current? %> aria-current="true"<% end %>><%= @page.label %></div>
  <% end %>
  <% if is_category? %>
    <ul class="sidebar-sublist">
      <% @page.items.each do |subpage| %>
        <%= render Help::Sidebar::Item.new(page: subpage, page_list: @page_list, current: @current) %>
      <% end %>
    </ul>
  <% end %>
</li>
