@import "../fonts/avenir.css";

@import "variables/spacings.css";
@import "variables/colors.css";
@import "variables/fonts.css";
@import "variables/borders.css";

@import "layout.css";

body {
  font-family: var(--font-text);
  font-size: 0.9rem;
  margin: 0;
  line-height: 1.5;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr var(--page-content-width) 1fr;
  gap: var(--spacing-8) var(--spacing-12);
  justify-content: center;
}

.wrapper > * {
  grid-column: 2;
}
